* {
    box-sizing: border-box;
}
html, body, p, a {
    padding: 0;
    margin: 0;
}
div {
    padding: 20px;
}

.toolbar {
    align-items: center;
    padding: 0;
    & a {
        text-decoration: unset;
    }
    & input, button {
        box-sizing: border-box;
        height: 22px;
        min-width: 60px; 
        margin-left: 4px;
        &.success {
            border: 1px solid $green;
        }
        &.primary {
            border: 1px solid $blue;
        }
        &.danger {
            border: 1px solid $red;
        }
        &.default {
            border: unset;
        }
    }
    & button {
        background-color: $light5;
        &:hover {
            background-color: $light10;
        }
    }
}