{{ template "header" . }}
<os-viewport>
    <os-taskbar slot="os-taskbar">
        <button slot="launcher-area" open-launcher>
            <svg class="i-icon">
                <use xlink:href="/static/img/svg-icons/icons.svg#i-9dots"></use>
            </svg>
        </button>
        {{ template "inc-authentication-form" . }}
        <h1 slot="main-area">{{ .Application.Name }}</h1>
    </os-taskbar>
    <os-workspace slot="os-workspace">
        <div slot="ws-toolbar" class="toolbar">
            <button class="success" onclick="fadeIn('orders-save')">Save</button>
            <button class="success" onclick="fadeIn('order-create-form')">New</button>
            <button class="primary" onclick="fadeIn('orders-import-form')">Import</button>
            <button class="danger" onclick="toggle('orders-delete-template', 'ws-main-panelx')">Delete</button>
            <button class="primary" onclick="fadeIn('orders-geocode')">Geo-Code</button>
            <button class="primary">Remove Geo Metadata</button>
            <button class="primary">Add Route</button>
            <button class="primary">Export</button>
        </div>
        <div slot="ws-main-panel" id="order-create-form" class="order-create-form">
            <div class="header"><p>Add new delivery order</p></div>
            <div class="body">
                <form name="delivery-order-new" id="delivery-order-form" action="/" method="POST" class="delivery-order-new">
                    <div>
                        <label for="sequence">Sequence</label>
                        <input class="lg" id="sequence" name="sequence" type="number" placeholder="0" autofocus/>
                        <label for="reference">Reference</label>
                        <input class="lg" id="reference" name="reference" type="text" placeholder="REF24872"/>
                        <label for="weight">Weight</label>
                        <input class="lg" id="weight" name="weight" type="number" step="0.01" placeholder="0.0"/>
                    </div>
                    <div>
                        <label for="address">Delivery Address</label>
                        <input class="lg" id="address" name="address" type="text" placeholder="Delivery Address"/>
                        <label for="zip">Delivery Zip</label>
                        <input class="lg" id="zip" name="zip" type="text" placeholder="Zip"/>
                    </div>
                    <div>
                        <label for="lat">Lattitude</label>
                        <input class="lg" id="lat" name="lat" type="number" placeholder="Lat"/>
                        <label for="lng">Longtitude</label>
                        <input class="lg" id="lng" name="lng" type="number" placeholder="Lng"/>
                    </div>
                </form>
            </div>
            <div class="footer">
                <button onclick="fadeOut('order-create-form')" class="md intense warning">Cancel</button>
                <button type="submit" form="delivery-order-form" action="#" class="md intense success">Add Order</button>
            </div>
        </div>



        <div slot="ws-main-panel" id="orders-import-form" class="orders-import-form">
            <div class="header"><p>Import or paste delivery orders</p></div>
            <div class="body">
                <form id="delivery-orders-import" action="/import" method="POST" class="delivery-orders-import" name="delivery-orders-import">
                    <textarea name="orders-ta" id="orders-ta" cols="200" rows="10" placeholder="Reference,Address,Zip,Weight" autofocus></textarea>
                </form>
            </div>
            <div class="footer">
                <button onclick="fadeOut('orders-import-form')" class="md intense warning">Cancel</button>
                <button type="submit" form="delivery-orders-import" action="#" class="md intense success">Import</button>
            </div>
        </div>



        <div slot="ws-main-panel" id="orders-save" class="orders-save">
            <div class="header"><p>Import or paste delivery orders</p></div>
            <div class="body">
                <h1>Save project</h1><br>
                <p>To save and reuse your data, you should be registered and signed in.</p>
            </div>
            <div class="footer">
                <button onclick="fadeOut('orders-save')" class="md intense warning">Cancel</button>
                <button type="submit" form="orders-save" action="#" class="md intense success">Save</button>
            </div>
        </div>



        <div slot="ws-main-panel" id="orders-geocode" class="orders-geocode">
            <div class="header">
                <p>Get a location data from selected data provider</p>
            </div>
            <div class="body">
                <form name="orders-batch-geocode-form" id="orders-batch-geocode-form" action="/batchgeocode" method="POST">
                    <input type="hidden" value="1" name="stakeholder_id" id="stakeholder_id">
                    <div>
                        <input type="radio" id="google-api" name="geo" value="google" checked disabled />
                        <label for="google-api">Google Maps API</label>
                    </div>
                    <div>
                        <input type="radio" id="bing-api" name="geo" value="bing" disabled />
                        <label for="bing-api">Bing Maps API</label>
                    </div>
                    <div>
                        <input type="radio" id="osm-api" name="geo" value="osm" disabled />
                        <label for="osm-api">Open Street Maps API</label>
                    </div>
                </form>
            </div>
            <div class="footer">
                <button onclick="fadeOut('orders-geocode')" class="md intense warning">Cancel</button>
                <button type="submit" form="orders-batch-geocode-form" class="md intense success">Geo-Code</button>
            </div>
        </div>



        <table slot="ws-main-panel" id="tbl-delivery-orders">
            <colgroup>
                <col style="width: 40px;">
                <col style="width: 40px;">
                <col style="width: 120px;">
                <col style="width: auto;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 60px;">
            </colgroup>
            <thead>
                <tr>
                    <th>Sequence</th>
                    <th>ID</th>
                    <th>Reference</th>
                    <th>Delivery Address</th>
                    <th>Zip</th>
                    <th>Lat</th>
                    <th>Lng</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .DeliveryOrders }}
                <tr draggable="true">
                    <td><span>{{ .RoutingSequence }}</span></td>
                    <td><a href="/{{ .Id }}" >{{ .Id }}</a></td>
                    <td>{{ .Reference }}</td>
                    <td>{{ .DestinationAddress }}</td>
                    <td>{{ .DestinationZip }}</td>
                    <td>{{ .DestinationLat }}</td>
                    <td>{{ .DestinationLng }}</td>
                    <td>{{ .TotalWeight}}</td>
                    <td class="actions">
                        <form action="/delete" method="POST">
                            <input type="hidden" value="{{ .Id }}" name="id">
                            <input type="submit" value="Delete" class="sm intense danger">
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div slot="ws-right-panel" id="order-profile" class="order-profile">
            <div class="header"><p>Order profile data will be show there</p></div>
            <div class="body">
                <form id="delivery-order-profile-form" action="/update" method="POST" class="delivery-order-new" name="delivery-order-profile-form">
                    <div>
                        <input id="order_id" name="order_id" type="hidden">
                        <label for="sequence">Sequence</label>
                        <input class="lg" id="sequence1" name="sequence" type="number" placeholder="0" autofocus/>
                        <label for="reference">Reference</label>
                        <input class="lg" id="reference1" name="reference" type="text" placeholder="REF24872"/>
                        <label for="weight">Weight</label>
                        <input class="lg" id="weight1" name="weight" type="number" step="0.01" placeholder="0.0"/>
                    </div>
                    <div>
                        <label for="address">Delivery Address</label>
                        <input class="lg" id="address1" name="address" type="text" placeholder="Delivery Address"/>
                        <label for="zip">Delivery Zip</label>
                        <input class="lg" id="zip1" name="zip" type="text" placeholder="Zip"/>
                    </div>
                    <div>
                        <label for="lat">Lattitude</label>
                        <input class="lg" id="lat1" name="lat" type="number" step="0.000001" placeholder="Lat"/>
                        <label for="lng">Longtitude</label>
                        <input class="lg" id="lng1" name="lng" type="number" step="0.000001" placeholder="Lng"/>
                    </div>
                </form>
            </div>
            <div class="footer">
                <button onclick="fadeOut('order-profile')" class="md intense warning">Close</button>
                <button  type="submit" form="delivery-order-profile-form" class="md intense success" formaction="/geocode">Geo Code</button>
                <button  type="submit" form="delivery-order-profile-form" class="md intense success">Update</button>
            </div>
        </div>
        <div slot="ws-right-panel" id="mapid" style="height: 100%; width: 100%;"></div>
        <p slot="ws-statusbar">gRPC backed example App (in development)</p>
    </os-workspace>

</os-viewport>

<template id="orders-delete-template">
    <div class="orders-delete" id="slot-test">
        <h1>Delete all orders</h1>
        <p>cloneNode template test</p>
    </div>
</template>

<script>
    var markers = [
        {{ range .DeliveryOrders }}
        [{{ .DestinationAddress }}, {{ .RoutingSequence }}, {{ .DestinationLat }}, {{ .DestinationLng }}, {{ .Id }}],
        {{ end }}
    ];

    // var geojsonx = [
    //     {{ range .DeliveryOrders }}
    //     {
    //         "type": "Feature",
    //         "geometry": {
    //             "type": "Point",
    //             "coordinates": [{{.DestinationLat}},{{.DestinationLng}}]
    //         },
    //         "properties": {
    //             "name": "{{ .RoutingSequence }}",
    //             "title": "{{ .DestinationAddress }}"
    //         },
    //     {{ end }}
    //     }];
</script>

{{ template "footer"}}