{{ template "header" . }}
<h1>Shipping Orders</h1>
<table>
    <colgroup>
        <col style="width: 40px;">
        <col style="width: 40x;">
        <col style="width: auto;">
        <col style="width: auto;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 100px;">
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>Parent</th>
            <th>Name</th>
            <th>Full Name</th>
            <th>Permalink</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Applications }}
        <tr draggable="true">
            <td><a href="/{{ .Id }}">{{ .Id }}</a></td>
            <td>{{ .ParentId }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .FullName}}</td>
            <td>{{ .Permalink }}</td>
            <td>{{ .Type }}</td>
            <td><button class="md danger">Delete</button></td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ template "footer" }}