@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  font-family: Montserrat, sans-serif;
}

button.intense {
  color: white;
  border: unset;
}

button.intense.success {
  background: #3EC300;
}

button.intense.danger {
  background: #E70E02;
}

button.intense.warning {
  background: #FCBA04;
}

button.md {
  height: 22px;
  font-size: 0.8em;
  font-weight: 300;
}

button.sm {
  height: 16px;
  font-size: 0.8em;
  font-weight: 300;
}

button.lg {
  height: 32px;
  font-size: 1em;
  font-weight: 300;
}

button.lg.signin {
  border: unset;
  min-width: 80px;
  text-transform: uppercase;
  background: #006AFF;
  color: #ffffff;
}

button[open-launcher] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  min-width: 48px;
  height: 100%;
  background-color: #006AFF;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 1rem;
  vertical-align: center;
}

button[open-launcher] svg {
  fill: white;
}

form * {
  font-family: Montserrat, sans-serif;
}

form input.intense {
  color: white;
  border: unset;
}

form input.intense.success {
  background: #3EC300;
}

form input.intense.danger {
  background: #E70E02;
}

form input.intense.warning {
  background: #FCBA04;
}

form input.sm {
  height: 16px;
  font-size: 0.8em;
  font-weight: 300;
}

form input.md {
  height: 22px;
  font-size: 0.8em;
  font-weight: 300;
}

form input.lg {
  height: 28px;
  font-size: 0.8em;
  font-weight: 300;
}

form input.xl {
  height: 32px;
  font-size: 0.8em;
  font-weight: 300;
}

form label {
  font-size: 0.8em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, p, a {
  padding: 0;
  margin: 0;
}

div {
  padding: 20px;
}

.toolbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.toolbar a {
  text-decoration: unset;
}

.toolbar input, .toolbar button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  min-width: 60px;
  margin-left: 4px;
}

.toolbar input.success, .toolbar button.success {
  border: 1px solid #3EC300;
}

.toolbar input.primary, .toolbar button.primary {
  border: 1px solid #006AFF;
}

.toolbar input.danger, .toolbar button.danger {
  border: 1px solid #E70E02;
}

.toolbar input.default, .toolbar button.default {
  border: unset;
}

.toolbar button {
  background-color: #f2f2f2;
}

.toolbar button:hover {
  background-color: #e6e6e6;
}

.order-create-form, .order-profile, .orders-import-form, .orders-save, .orders-geocode {
  display: none;
  padding: 0;
  height: auto;
  border-bottom: 1px solid #A2C8FF;
}

.order-create-form *, .order-profile *, .orders-import-form *, .orders-save *, .orders-geocode * {
  font-family: Montserrat, sans-serif;
}

.order-create-form .header, .order-profile .header, .orders-import-form .header, .orders-save .header, .orders-geocode .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid #e6e6e6;
  height: 36px;
}

.order-create-form .body, .order-profile .body, .orders-import-form .body, .orders-save .body, .orders-geocode .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6;
  height: auto;
}

.order-create-form .footer, .order-profile .footer, .orders-import-form .footer, .orders-save .footer, .orders-geocode .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  height: 36px;
}

.order-create-form .footer button, .order-profile .footer button, .orders-import-form .footer button, .orders-save .footer button, .orders-geocode .footer button {
  margin-left: 6px;
  cursor: pointer;
}

.order-create-form textarea, .order-profile textarea, .orders-import-form textarea, .orders-save textarea, .orders-geocode textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.i-icon {
  height: 22px;
  width: 22px;
  cursor: pointer;
  stroke-width: 2;
}

table {
  table-layout: fixed;
  overflow: scroll;
  font-size: 0.8em;
  border-collapse: collapse;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

table colgroup col {
  border-right: 1px solid #e6e6e6;
  background: transparent;
}

table colgroup col:hover {
  background: #006AFF;
}

table colgroup col:last-child {
  border-right: none;
}

table thead {
  display: table-header-group;
  vertical-align: middle;
}

table thead tr {
  height: 21px;
  background: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
}

table thead tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: 0 0 0 4px;
  font-weight: bold;
}

table thead tr th:hover {
  background: #e6e6e6;
  cursor: context-menu;
}

table tbody {
  display: table-row-group;
  border-right: none;
}

table tbody tr {
  height: 21px;
  border-top: 1px solid #f2f2f2;
  border-right: none;
}

table tbody tr[draggable="true"]:active td {
  cursor: move;
}

table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

table tbody tr:hover {
  background: #e6e6e6;
}

table tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 4px;
  cursor: context-menu;
}

table tbody tr td span {
  display: block;
  height: 16px;
  min-width: 16px;
  border-radius: 8px;
  background-color: #006AFF;
  color: #ffffff;
  text-align: center;
}

table tbody [class*="tbl-row-"].selected {
  border: 1px solid #006AFF;
  background: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */