button {
    &.md {
        height: 22px;
        &.success {
            background: $green;
            border: unset;
            color: $light;
        }
        &.warning {
            border: 1px solid $orange;
            background: unset;
        }
    }
}

button {
    &.lg {
        height: 32px;
        border: unset;
        min-width: 80px;
        font-family: Montserrat, sans-serif;
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
        &.signin {
            background: #006AFF;
            color: #ffffff;
        }
    }
}

button[open-launcher] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 48px;
    height: 100%;
    background-color: $blue;
    cursor: pointer;
    color: $light5;
    font-weight: 400;
    font-size: 1rem;
    vertical-align: center;
    & svg {
        fill: $light;
    }
  }