form {
    & * {
        font-family: Montserrat, sans-serif;
    }
    & input {
        &.intense {
            color: $light;
            border: unset;
            &.success {
                background: $green;
            }
            &.danger {
                background: $red;
            }
            &.warning {
                background: $orange;
            }
        }
        &.sm {
            height: 16px;
            font-size: 0.8em;
            font-weight: 300;
        }
        &.md {
            height: 22px;
            font-size: 0.8em;
            font-weight: 300;
        }
        &.lg {
            height: 28px;
            font-size: 0.8em;
            font-weight: 300;
        }
        &.xl {
            height: 32px;
            font-size: 0.8em;
            font-weight: 300;
        }

    }
    & label {
        font-size: 0.8em;
    }
}